{% extends "mzInventarioBundle::layout.html.twig" %}
{% import 'mzInventarioBundle::macros.html.twig' as macros %}

{% block title %} {{ parent() }} - Préstamos {% endblock %}

{% block pagetitle %} Préstamos {% endblock %}

{% block flashmessages %}
    {{ parent() }}
    {% if form_errors(filterForm) %}
        <div class="alert alert-block alert-error fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
    {% endif %}
{% endblock %}

{% block page %}
<div class="btn-toolbar">
    {{ macros.btn_agregar('prestamo_new') }}
    <a class="btn dropdown-toggle" data-toggle="collapse" data-target="#filters">
        Filtrar <span class="caret"></span>
    </a>
</div>
<div id="filters" class="collapse">
    <form class="well" action="{{ path('prestamo') }}" method="post" {{ form_enctype(filterForm) }}>
        {{ form_rest(filterForm) }}
        <p>
            <button class="btn" type="submit" name="filter_action" value="reset">Reset</button>
            <button class="btn btn-info" type="submit" name="filter_action" value="filter">Filtrar</button>
        </p>
    </form>
</div>

<div class="well">
    <table class="table table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Dni</th>
                <th>Fecha</th>
                <th>Devuelto el</th>
                <th>Observaciones</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('prestamo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.apellido }}, {{ entity.nombre }}</td>
                <td>{{ entity.dni }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('d-m-Y') }}{% endif %}</td>
                <td>{% if entity.fechaDevolucion %}{{ entity.fechaDevolucion|date('d-m-Y') }}{% endif %}</td>
                <td>{{ entity.observaciones }}</td>
                <td class="actions">
                    <a href="{{ path('prestamo_show', { 'id': entity.id }) }}"><i class="icon-pencil"></i> </a>
                    <a href="{{ path('prestamo_edit', { 'id': entity.id }) }}"><i class="icon-remove"></i> </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{{ pagerHtml|raw }}
{% endblock %}