{% extends 'mzInventarioBundle::layout.html.twig' %}
{% import 'mzInventarioBundle::macros.html.twig' as macros %}

{% block title %} {{ parent() }} - Préstamos {% endblock %}

{% block pagetitle %} Préstamo {% endblock %}

{% block page %}
    <div class="btn-toolbar">
        {{ macros.btn_volver('prestamo') }}
        {{ macros.btn_editar('prestamo_edit', entity.id) }}
        {{ macros.btn_borrarf('prestamo_delete', entity.id, delete_form) }}
    </div>

<form class=" well form-horizontal">
    <fieldset>
        <div class="control-group">
            <label class="control-label">Id</label>
            <div class="controls">
                <span class="input-xlarge uneditable-input">{{ entity.id }}</span>
             </div>
        </div>
        <div class="control-group">
            <label class="control-label">Apellido</label>
            <div class="controls">
                <span class="input-xlarge uneditable-input">{{ entity.apellido }}</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Nombre</label>
            <div class="controls">
                <span class="input-xlarge uneditable-input">{{ entity.nombre }}</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Dni</label>
            <div class="controls">
                <span class="input-xlarge uneditable-input">{{ entity.dni }}</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Fecha</label>
            <div class="controls">
                <span class="input-xlarge uneditable-input">{{ entity.fecha|date('d-m-Y H:i:s') }}</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Fechadevolucion</label>
            <div class="controls">
                <span class="input-xlarge uneditable-input">{{ entity.fechaDevolucion|date('d-m-Y H:i:s') }}</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Observaciones</label>
            <div class="controls">
                <span class="input-xlarge uneditable-input">{{ entity.observaciones }}</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Createdat</label>
            <div class="controls">
                <span class="input-xlarge uneditable-input">{{ entity.createdAt|date('d-m-Y H:i:s') }}</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Updatedat</label>
            <div class="controls">
                <span class="input-xlarge uneditable-input">{{ entity.updatedAt|date('d-m-Y H:i:s') }}</span>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}