{% extends 'mzInventarioBundle::layout.html.twig' %}


{% block title %} {{ parent() }} - Items {% endblock %}

{% block pagetitle %} Agregar Item {% endblock %}

{% block page %}
<div class="row-fluid">
    <div class="btn-toolbar">
        <a class="btn" href="{{ path('homepage') }}">
            <i class="icon-angle-left icon-large"></i> Volver
        </a>
    </div>
</div>
<form class="well" action="{{ path('item_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-success">
            <i class="icon-save icon-large"></i> Guardar
        </button>
    </p>
</form>
{% endblock %}