{% extends 'mzInventarioBundle::layout.html.twig' %}

{% block title %} {{ parent() }} - Items {% endblock %}

{% block pagetitle %} Item {% endblock %}

{% block page %}
<div class="row-fluid">
    <div class="btn-toolbar">
        <a class="btn" href="{{ path('homepage') }}">
            <i class="icon-angle-left icon-large"></i> Volver
        </a>
    </div>
    <div class="btn-toolbar">
        <a class="btn btn-primary" href="{{ path('item_edit', { 'id': entity.id }) }}">
            <i class="icon-pencil icon-large"></i> Editar
        </a>
    </div>
    <div class="btn-toolbar">
        <form action="{{ path('item_delete', { 'id': entity.id }) }}" method="post" class="shitty-delete-form">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('Seguro que desea eliminar este registro?');">
                <i class="icon-trash icon-large"></i> Borrar</button>
        </form>
    </div>
</div>

<div class="well">
    <div><img src="{{ asset(entity.imagenes.1.path) }}"/></div>
    <dl class="dl-horizontal">
        <dt>Id:</dt>
        <dd>{{ entity.id }}</dd>

        <dt>Nombre:</dt>
        <dd>{{ entity.nombre }}</dd>

        <dt>Marca:</dt>
        <dd>{{ entity.marca }}</dd>

        <dt>Modelo:</dt>
        <dd>{{ entity.modelo }}</dd>

        <dt>Serial Number:</dt>
        <dd>{{ entity.sn }}</dd>

        <dt>Fecha de Compra:</dt>
        <dd>{{ entity.fechaCompra|date('d-m-Y') }}</dd>

        <dt>Costo:</dt>
        <dd>{{ entity.costo }}</dd>

        <dt>Garantia:</dt>
        <dd>{{ entity.garantia }}</dd>

        <dt>Descripción:</dt>
        <dd>{{ entity.descripcion }}</dd>

        <dt>Código:</dt>
        <dd>{{ entity.codigo }}</dd>

        <dt>Creado:</dt>
        <dd>{{ entity.createdAt|date('d-m-Y') }}</dd>

        <dt>Actualizado:</dt>
        <dd>{{ entity.updatedAt|date('d-m-Y') }}</dd>
    </dl>
</div>
{% endblock %}