{% extends "mzInventarioBundle::layout.html.twig" %}
{% import 'mzInventarioBundle::macros.html.twig' as macros %}

{% block title %} {{ parent() }} - Condiciones {% endblock %}

{% block pagetitle %} Condiciones {% endblock %}

{% block flashmessages %}
    {% if form_errors(filterForm) %}
        <div class="alert alert-block alert-error fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
    {% endif %}
{% endblock %}

{% block page %}
<div class="btn-toolbar">
    {{ macros.btn_agregar('condicion_new') }}
</div>
    <div id="filters" class="btn-toolbar pull-right">
        <form action="{{ path('condicion') }}" method="post" {{ form_enctype(filterForm) }}>
            <div class="input-append">
                {{ form_widget(filterForm.q) }}
                {{ form_rest(filterForm) }}
                <button class="btn" type="submit" name="filter_action" value="search"><i class="icon-search"></i></button>
            </div>
        </form>
    </div>
<div class="well">
    <table class="table table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>
                    <a href="{{ path('condicion_show', { 'id': entity.id }) }}">{{ entity.nombre }}</a>
                </td>
                <td class="actions">
                    <a href="{{ path('condicion_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i> </a>
                    <a href="#deleteModal" data-toggle="modal" role="button" class="delete_link" xhref="{{ path('condicion_get_delete_form', { 'id': entity.id }) }}"><i class="icon-remove"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{{ pagerHtml|raw }}

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="deleteModal" class="modal small hide fade" style="display: none;">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h3 id="myModalLabel">Confirmación</h3>
        </div>
        <div class="modal-body">
            <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Seguro que desea borrar este registro?</p>
        </div>
        <div id="delete_form" class="modal-footer"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('a.delete_link').click(function(event) {
                event.preventDefault();
                $('#delete_form').load($(this).attr('xhref'));
            });
        });
    </script>
{% endblock %}