{% extends '::base.html.twig' %}

{% block title %} mzInventario {% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/mzinventario/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/mzinventario/css/bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/mzinventario/css/crud.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/mzinventario/css/theme.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/mzinventario/css/font-awesome.css') }}" rel="stylesheet">
    <style type="text/css">
        #line-chart { height:300px; width:800px; margin: 0px auto; margin-top: 1em; }
        .brand { font-family: georgia, serif; }
        .brand .first { color: #ccc; font-style: italic; font-size: 30px; }
        .brand .second { color: #fff; font-weight: bold; }
    </style>
{% endblock %}

{% block navbar %}
    <div class="navbar-inner">
        <ul class="nav pull-right">
            <li><a href="#" class="hidden-phone visible-tablet visible-desktop" role="button">Settings</a></li>
            <li id="fat-menu" class="dropdown">
                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-user"></i> Jack Smith
                    <i class="icon-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#">My Account</a></li>
                    <li class="divider"> </li>
                    <li><a tabindex="-1" class="visible-phone" href="#">Settings</a></li>
                    <li class="divider visible-phone"> </li>
                    <li><a tabindex="-1" href="sign-in.html">Logout</a></li>
                </ul>
            </li>
        </ul>
        <a class="brand" href="index.html"><span class="first">mz</span> <span class="second">Inventario</span></a>
    </div>
{% endblock %}

{% block sidenav %}
    <a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-dashboard"></i>Dashboard</a>
    <ul id="dashboard-menu" class="nav nav-list collapse in">
        <li><a href="{{ path('item') }}">Items</a></li>
        <li ><a href="{{ path('categoria') }}">Categorias</a></li>
        <li ><a href="{{ path('condicion') }}">Condiciones</a></li>
        <li ><a href="{{ path('estado') }}">Estados</a></li>
        <li ><a href="{{ path('ubicacion') }}">Ubicaciones</a></li>
        <li ><a href="{{ path('prestamo') }}">Prestamos</a></li>
        <li ><a href="{{ path('imagen') }}">Imágenes</a></li>
        <li ><a href="{{ path('usuario') }}">Usuarios</a></li>
    </ul>

    <a href="#accounts-menu" class="nav-header" data-toggle="collapse"><i class="icon-briefcase"></i>Account<span class="label label-info">+3</span></a>
    <ul id="accounts-menu" class="nav nav-list collapse">
        <li ><a href="sign-in.html">Sign In</a></li>
        <li ><a href="sign-up.html">Sign Up</a></li>
        <li ><a href="reset-password.html">Reset Password</a></li>
    </ul>

    <a href="#error-menu" class="nav-header collapsed" data-toggle="collapse"><i class="icon-exclamation-sign"></i>Error Pages <i class="icon-chevron-up"></i></a>
    <ul id="error-menu" class="nav nav-list collapse">
        <li ><a href="403.html">403 page</a></li>
        <li ><a href="404.html">404 page</a></li>
        <li ><a href="500.html">500 page</a></li>
        <li ><a href="503.html">503 page</a></li>
    </ul>

    <a href="#legal-menu" class="nav-header" data-toggle="collapse"><i class="icon-legal"></i>Legal</a>
    <ul id="legal-menu" class="nav nav-list collapse">
        <li ><a href="privacy-policy.html">Privacy Policy</a></li>
        <li ><a href="terms-and-conditions.html">Terms and Conditions</a></li>
    </ul>

    <a href="help.html" class="nav-header" ><i class="icon-question-sign"></i>Help</a>
    <a href="faq.html" class="nav-header" ><i class="icon-comment"></i>Faq</a>
{% endblock %}

{% block content %}
    <section class="header">
        <div class="stats">

            {% block stats %}
                <p class="stat"><span class="number">53</span>tickets</p>
                <p class="stat"><span class="number">27</span>tasks</p>
                <p class="stat"><span class="number">15</span>waiting</p>
            {% endblock %}

        </div>

        <h1 class="page-title">{% block pagetitle %}Dashboard{% endblock %}</h1>

    </section>

    {% block breadcrumb %}
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li class="active">Dashboard</li>
        </ul>
    {% endblock %}

    <section class="container-fluid">
        <div class="row-fluid">

            {% for type, flashMessages in app.session.flashbag.all() %}
                <div class="row-fluid">
                    {% for flashMessage in flashMessages %}
                        <div class="alert alert-{{ type }}">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <strong>{{ flashMessage|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</strong>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

            {% block page %}[CONTENT HERE]{% endblock %}

        </div>
        <footer>
            <hr>
            <!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
            <p class="pull-right">A <a href="http://www.portnine.com/bootstrap-themes" target="_blank">Free Bootstrap Theme</a> by <a href="http://www.portnine.com" target="_blank">Portnine</a></p>
            <p>&copy; 2012 <a href="http://www.portnine.com" target="_blank">Portnine</a></p>
        </footer>
    </section>
{% endblock %}
{% block javascript %}
    <script src="{{ asset('bundles/mzinventario/js/jquery-1.7.2.min.js')}}" type="text/javascript"></script>
    <script src="{{ asset('bundles/mzinventario/js/bootstrap.js')}}"></script>
{% endblock %}
