{% extends 'mzInventarioBundle::layout.html.twig' %}
{% import 'mzInventarioBundle::macros.html.twig' as macros %}

{% block title %} {{ parent() }} - Usuarios {% endblock %}

{% block pagetitle %} Editar Usuario {% endblock %}

{% block page %}
    <div class="btn-toolbar">
        <a class="btn" href="{{ path('profile', {'id': entity.id }) }}">
            <i class="icon-angle-left icon-large"></i> Volver
        </a>
        <a class="btn btn-warning" href="{{ path('pass_edit', { 'id': entity.id }) }}">
            <i class="icon-edit icon-large"></i> Cambiar Contraseña
        </a>
    </div>
    <form class="well" action="{{ path('profile_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>{{ macros.btn_guardar() }}</p>
    </form>
{% endblock %}