{% extends 'mzInventarioBundle::layout.html.twig' %}

{% block title %} {{ parent() }} - Usuarios {% endblock %}

{% block pagetitle %} Perfil del Usuario {% endblock %}

{% block page %}
<div class="row-fluid">
    <div class="btn-toolbar">
        <a class="btn btn-primary" href="{{ path('profile_edit', { 'id': entity.id }) }}">
            <i class="icon-pencil icon-large"></i> Editar
        </a>
    </div>
</div>

<form class="well form-horizontal">
    <fieldset>
        <div class="control-group">
            <label class="control-label">Apellido</label>
            <div class="controls">
                <span class="input-xlarge uneditable-input">{{ entity.apellido }}</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Nombre</label>
            <div class="controls">
                <span class="input-xlarge uneditable-input">{{ entity.nombre }}</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Email</label>
            <div class="controls">
                <span class="input-xlarge uneditable-input">{{ entity.email }}</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Username</label>
            <div class="controls">
                <span class="input-xlarge uneditable-input">{{ entity.username }}</span>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}