{% extends 'mzInventarioBundle::layout.html.twig' %}
{% import 'mzInventarioBundle::macros.html.twig' as macros %}

{% block title %} {{ parent() }} - Usuarios {% endblock %}

{% block pagetitle %} Perfil del Usuario {% endblock %}

{% block page %}
    <div class="btn-toolbar">
        {{ macros.btn_editar('profile_edit', entity.id) }}
        <a class="btn btn-warning" href="{{ path('pass_edit', { 'id': entity.id }) }}">
            <i class="icon-edit icon-large"></i> Cambiar Password
        </a>
    </div>
    <div class="well">
        <dl class="dl-horizontal">
            <dt>Apellido</dt>
            <dd>{{ entity.apellido }}</dd>
            <dt>Nombre</dt>
            <dd>{{ entity.nombre }}</dd>
            <dt>Email</dt>
            <dd>{{ entity.email }}</dd>
            <dt>Username</dt>
            <dd>{{ entity.username }}</dd>
        </dl>
    </div>
{% endblock %}