{% extends 'mzInventarioBundle::layout.html.twig' %}
{% import 'mzInventarioBundle::macros.html.twig' as macros %}

{% block title %} {{ parent() }} - Estados {% endblock %}

{% block pagetitle %} Editar Estado {% endblock %}

{% block page %}
    <div class="btn-toolbar">
        {{ macros.btn_volver('estado') }}
        {{ macros.btn_borrarf('estado_delete', entity.id, delete_form) }}
    </div>
    <form class="well" action="{{ path('estado_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>{{ macros.btn_guardar('estado') }}</p>
    </form>
{% endblock %}