{% extends app.request.isXmlHttpRequest ? "mzInventarioBundle::layout_ajax.html.twig" : "mzInventarioBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - Estados {% endblock %}

{% block pagetitle %} Estados {% endblock %}

{% block flashmessages %}
    {{ parent() }}
    {% if form_errors(filterForm) %}
        <div class="alert alert-block alert-error fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
    {% endif %}
{% endblock %}

{% block page %}
<div class="row-fluid">
    <div class="btn-toolbar">
        <a class="btn btn-primary" href="{{ path('estado_new') }}">
            <i class="icon-plus"></i> Agregar
        </a>
    </div>
    <div class="btn-toolbar">
        <a class="btn dropdown-toggle" data-toggle="collapse" data-target="#filters">
            Filtrar <span class="caret"></span>
        </a>
    </div>
</div>
<div id="filters" class="collapse">
    <form class="well" action="{{ path('estado') }}" method="post" {{ form_enctype(filterForm) }}>
        {{ form_row(filterForm.nombre) }}
        {{ form_row(filterForm.slug) }}
        {{ form_rest(filterForm) }}
        <p>
            <button class="btn" type="submit" name="filter_action" value="reset">Reset</button>
            <button class="btn btn-info" type="submit" name="filter_action" value="filter">Filtrar</button>
        </p>
    </form>
</div>
<div class="well">
    <table class="table table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Slug</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>
                    <a href="{{ path('estado_show', { 'id': entity.id }) }}">{{ entity.nombre }}</a>
                </td>
                <td>{{ entity.slug }}</td>
                <td class="actions">
                    <a href="{{ path('estado_show', { 'id': entity.id }) }}"><i class="icon-pencil"></i> </a>
                    <a href="{{ path('estado_edit', { 'id': entity.id }) }}"><i class="icon-remove"></i> </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{{ pagerHtml|raw }}
{% endblock %}