{% extends 'mzInventarioBundle::layout.html.twig' %}
{% import 'mzInventarioBundle::macros.html.twig' as macros %}

{% block title %} {{ parent() }} - Estados {% endblock %}

{% block pagetitle %} Agregar Estado {% endblock %}

{% block page %}
    <div class="btn-toolbar">
        {{ macros.btn_volver('estado') }}
    </div>
    <form class="well" action="{{ path('estado_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>{{ macros.btn_guardar() }}</p>
    </form>
{% endblock %}