{% extends 'mzInventarioBundle::layout.html.twig' %}
{% import 'mzInventarioBundle::macros.html.twig' as macros %}

{% block title %} {{ parent() }} - Usuarios {% endblock %}

{% block pagetitle %} Usuario {% endblock %}

{% block page %}
    <div class="btn-toolbar">
        {{ macros.btn_volver('usuario') }}
        {{ macros.btn_editar('usuario_edit', entity.id) }}
        <a class="btn btn-warning" href="{{ path('usuario_pass_edit', { 'id': entity.id }) }}">
            <i class="icon-edit icon-large"></i> Cambiar Password
        </a>
        {{ macros.btn_borrarf('usuario_delete', entity.id, delete_form) }}
    </div>
    <div class="well">
        <dl class="dl-horizontal">
            <dt>Id</dt>
            <dd>{{ entity.id }}</dd>
            <dt>Apellido</dt>
            <dd>{{ entity.apellido }}</dd>
            <dt>Nombre</dt>
            <dd>{{ entity.nombre }}</dd>
            <dt>Email</dt>
            <dd>{{ entity.email }}</dd>
            <dt>Username</dt>
            <dd>{{ entity.username }}</dd>
            <dt>Password</dt>
            <dd>{{ entity.password }}</dd>
            <dt>Rol</dt>
            <dd>{{ entity.rol }}</dd>
            <dt>Habilitado?</dt>
            <dd>
                {% if entity.isEnabled %}
                    <span class="badge badge-success">Si</span>
                {% else %}
                    <span class="badge badge-important">No</span>
                {% endif %}
            </dd>
        </dl>
    </div>
{% endblock %}