{% extends 'mzInventarioBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - Imagen {{ 'views.edit.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<h1>Imagen {{ 'views.edit.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</h1>

<form class="well" action="{{ path('imagen_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit" class="btn btn-success"><i class="icon-save icon-large"></i> Guardar</button>
    </p>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('imagen') }}">
            <i class="icon-angle-left icon-large"></i> Volver
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('imagen_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('Seguro que desea eliminar este registro?');">
                <i class="icon-trash icon-large"></i> Borrar</button>
        </form>
    </div>
</div>
{% endblock %}