{% extends 'mzInventarioBundle::layout.html.twig' %}
{% import 'mzInventarioBundle::macros.html.twig' as macros %}

{% block title %} {{ parent() }} - Imágenes {% endblock %}
{% block pagetitle %} Imágenes {% endblock %}

{% block page %}
<div class="row-fluid">
    {# macros.btn_agregar('#') #}
    
    <div class="btn-toolbar">
        <a class="btn dropdown-toggle" data-toggle="collapse" data-target="#filters">
            Filtrar <span class="caret"></span>
        </a>
    </div>
</div>

<div id="filters" class="collapse">
    <form class="well" action="{{ path('imagen') }}" method="post" {{ form_enctype(filterForm) }}>
        {{ form_row(filterForm.id) }}
        {{ form_row(filterForm.ruta) }}
        {{ form_rest(filterForm) }}
        <p>
            <button class="btn" type="submit" name="filter_action" value="reset">Reset</button>
            <button class="btn btn-info" type="submit" name="filter_action" value="filter">Filtrar</button>
        </p>
    </form>
</div>

<div class="well">
    <table class="table table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ruta</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</a></td>
                <td>{{ entity.ruta }}</td>
                <td class="actions">
                    <a href="#"><i class="icon-pencil"></i> </a>
                    <a href="#"><i class="icon-remove"></i> </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ pagerHtml|raw }}
{% endblock %}